
@{
    ViewData["Title"] = @Localizer["Career"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    var culture = Context.Features.Get<IRequestCultureFeature>
        ().RequestCulture.Culture.TwoLetterISOLanguageName;
}
@using Microsoft.AspNetCore.Routing.Constraints;
<!-- BREADCRUMBS -->
<section class="breadcrumbs_block breadcrumbs_block_career clearfix parallax">
    <div class="container center">
        <h2 class="marginleft85" style="text-shadow: 0 0 20px #000; text-align:left; margin-left: 120px;"><b>@Localizer["Career"]</b></h2>
        <p class="marginleft85" style="color: #fff;text-shadow: 0 0 20px #000; text-align:left; margin-left: 120px;">@Localizer["Slogan"]</p>
    </div>
</section><!-- //BREADCRUMBS -->
<!-- ABOUT -->
<section id="about">
    <!-- Promo Section -->
    <div class="promo-section overflow-h">
        <div class="container">

            <div class="row margbot30">
                <div class="big-title text-center">
                    <h3>
                        <span style="color: #652E84;">@Localizer["Title3"]</span>
                    </h3>
                    <p class="title-desc">@Localizer["Text6"]</p>
                </div>
                <div class="hr5" style="margin-top: 30px; margin-bottom: 35px;"></div>
                <div class="container">

                    <div class="col-md-6">
                        <img src="~/images/adult-advice.jpg" alt="" />
                    </div>

                    <div class="container">
                        <div class="col-md-4 career-form-block" style="margin-left: 50px">
                            <h4 class="classic-title" style="color: #652E84;"><span>@Localizer["Contact_us"]</span></h4>
                            <div class="row">
                                <form action="/en/Home/SendCv" enctype="multipart/form-data" method="post">
                                    <input name="__RequestVerificationToken" type="hidden" value="23mal6caFYkVrgykKxGM9GDlZeAPMzd2lh6R5SX9RDT--PoatMHec2O-wMSxl3Awel0kUUQNcnXB7jEn6Y_ExQ_IC_iqe3Hw0AKluVYbaME1" />                <div class="row">
                                        <div class="form-group">
                                            <label for="name">@Localizer["Your_name"]<span class="required">*</span></label>
                                            <span class="name-missing"></span>
                                            <input class="form-control" data-val="true" data-val-required="Please enter your name" id="FromName" name="FromName" type="text" value="" />
                                            <span class="field-validation-valid" data-valmsg-for="FromName" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="e-mail">Email<span class="required">*</span></label>
                                            <input class="form-control" data-val="true" data-val-email="Incorrect format" data-val-required="Please enter a valid e-mail" id="FromEmail" name="FromEmail" type="text" value="" />
                                            <span class="field-validation-valid" data-valmsg-for="FromEmail" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group userMessage">
                                            <label for="name">@Localizer["Message"]<span class="required">*</span></label>
                                            <input class="form-control form-control-message" data-val="true" data-val-required="Please enter your message" id="Message" name="Message" type="text" value="" />
                                            <span class="field-validation-valid" data-valmsg-for="Message" data-valmsg-replace="true"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="name"><span class="required"></span></label>
                                            <div class="col-md-5">
                                                <input type="file" name="upload" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" class="btn btn-default" value="@Localizer["Send"]" />
                                            </div>
                                        </div>
                                    </div>
                                </form>                    <div class="g-recaptcha" data-sitekey="6LdYZycUAAAAAItvfYSHPH40D-8bOttJbGNACi_F"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- //ABOUT -->
@**

    <section id="about-banner">
        <div class="cleancode_block cleancode_block_career">
            <!-- CONTAINER -->
            <div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
                <div class="row">
                    <!-- CASTOM TAB -->
                    <div class="col-md-10 col-lg-10">
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade in active clearfix" id="tab1">
                                <p class="title" style="color: #fff;text-shadow: 0 0 20px #000;"><b>@Localizer["Contact_us"]</b></p>
                                <span style="color: #fff;text-shadow: 0 0 20px #000;">@Localizer["Slogan"]</span>


                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2">
                        <div class="text-center">
                            <a asp-area="" asp-action="Contacts" asp-route-culture="@culture">
                                <div class="btn-theme btn-theme-sm btn-white-brd text-uppercase wow fadeInDown animated text-center" data-animation="fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" style=" ">
                                    @Localizer["Contacts"]
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div><!-- //CONTAINER -->
        </div><!-- //CLEAN CODE -->
    </section>
    <!-- ABOUT -->
    <section id="about">

        <!-- PROJECTS -->
        <section id="projects" class="padbot20">
            <!-- CONTAINER -->
            <div class="container">
                <h2 style="color: #652E84"><b>@Localizer["Our_projects"]</b></h2>
            </div><!-- //CONTAINER -->

            <div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
                <!-- PROJECTS SLIDER -->
                <div class="owl-demo owl-carousel projects_slider">
                    <!-- work1 -->
                    <div class="item">
                        <div class="work_item">
                            <div class="work_img">
                                <img src="~/images/works/1.jpg" alt="" />
                                <a class="zoom" href="~/images/works/1.jpg" rel="prettyPhoto[portfolio1]"></a>
                            </div>
                            <div class="work_description">
                                <div class="work_descr_cont">
                                    <a href="portfolio-post.html">Ginger Beast</a>
                                    <span>17 March, 2041</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //work1 -->
                    <!-- work2 -->
                    <div class="item">
                        <div class="work_item">
                            <div class="work_img">
                                <img src="~/images/works/2.jpg" alt="" />
                                <a class="zoom" href="~/images/works/2.jpg" rel="prettyPhoto[portfolio1]"></a>
                            </div>
                            <div class="work_description">
                                <div class="work_descr_cont">
                                    <a href="portfolio-post.html">Ginger Beast</a>
                                    <span>17 March, 2041</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //work2 -->
                    <!-- work3 -->
                    <div class="item">
                        <div class="work_item">
                            <div class="work_img">
                                <img src="~/images/works/3.jpg" alt="" />
                                <a class="zoom" href="~/images/works/3.jpg" rel="prettyPhoto[portfolio1]"></a>
                            </div>
                            <div class="work_description">
                                <div class="work_descr_cont">
                                    <a href="portfolio-post.html">Ginger Beast</a>
                                    <span>17 March, 2041</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //work3 -->
                    <!-- work4 -->
                    <div class="item">
                        <div class="work_item">
                            <div class="work_img">
                                <img src="~/images/works/4.jpg" alt="" />
                                <a class="zoom" href="~/images/works/4.jpg" rel="prettyPhoto[portfolio1]"></a>
                            </div>
                            <div class="work_description">
                                <div class="work_descr_cont">
                                    <a href="portfolio-post.html">Ginger Beast</a>
                                    <span>17 March, 2041</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //work4 -->
                    <!-- work5 -->
                    <div class="item">
                        <div class="work_item">
                            <div class="work_img">
                                <img src="~/images/works/5.jpg" alt="" />
                                <a class="zoom" href="~/images/works/5.jpg" rel="prettyPhoto[portfolio1]"></a>
                            </div>
                            <div class="work_description">
                                <div class="work_descr_cont">
                                    <a href="portfolio-post.html">Ginger Beast</a>
                                    <span>17 March, 2041</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //work5 -->
                    <!-- work6 -->
                    <div class="item">
                        <div class="work_item">
                            <div class="work_img">
                                <img src="~/images/works/6.jpg" alt="" />
                                <a class="zoom" href="~/images/works/6.jpg" rel="prettyPhoto[portfolio1]"></a>
                            </div>
                            <div class="work_description">
                                <div class="work_descr_cont">
                                    <a href="portfolio-post.html">Ginger Beast</a>
                                    <span>17 March, 2041</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //work6 -->
                    <!-- work7 -->
                    <div class="item">
                        <div class="work_item">
                            <div class="work_img">
                                <img src="~/images/works/7.jpg" alt="" />
                                <a class="zoom" href="~/images/works/7.jpg" rel="prettyPhoto[portfolio1]"></a>
                            </div>
                            <div class="work_description">
                                <div class="work_descr_cont">
                                    <a href="portfolio-post.html">Ginger Beast</a>
                                    <span>17 March, 2041</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //work7 -->
                </div><!-- //PROJECTS SLIDER -->
            </div>

            <!-- OUR CLIENTS -->
            <div class="our_clients">
                <!-- CONTAINER -->
                <div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
                    <h2 style="color: #652E84"><b>@Localizer["Our_partners"]</b></h2>
                    <!-- ROW -->
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                            <img src="~/images/clients/1.jpg" alt="" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                            <img src="~/images/clients/2.jpg" alt="" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                            <img src="~/images/clients/3.jpg" alt="" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                            <img src="~/images/clients/4.jpg" alt="" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 client_img">
                            <img src="~/images/clients/5.jpg" alt="" />
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 client_img" style="margin-top: 39px;">
                            <img src="~/images/clients/adobe.png" alt="" />
                        </div>
                    </div><!-- //ROW -->
                </div><!-- CONTAINER -->
            </div><!-- //OUR CLIENTS -->
        </section><!-- //PROJECTS -->
    </section><!-- //ABOUT -->
*@
